<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.expirelog.mapper.UserMemberMapper">

    <resultMap id="BaseResultMap" type="com.expirelog.entity.UserMember">
        <id column="user_id" property="userId"/>
        <result column="expire_time" property="expireTime"/>
    </resultMap>

    <select id="selectForUpdate" resultMap="BaseResultMap">
        SELECT user_id, expire_time
        FROM user_member
        WHERE user_id = #{userId}
        FOR UPDATE
    </select>

    <select id="selectByUserId" resultMap="BaseResultMap">
        SELECT user_id, expire_time
        FROM user_member
        WHERE user_id = #{userId}
    </select>

    <update id="updateExpireTime">
        UPDATE user_member
        SET expire_time = #{expireTime}
        WHERE user_id = #{userId}
    </update>

    <insert id="insert">
        INSERT INTO user_member (user_id, expire_time)
        VALUES (#{userId}, #{expireTime})
    </insert>

</mapper>
